.header {
    background: #E7E1C9;

    &__container {
        padding: 0 50px;
        display: flex;
        align-items: center;
        height: 130px;
    }

    // left
    &__logo {
        .tangue {
            position: absolute;
            top: 5px;
            left: 7px;
            z-index: -1;
            @include hidden;
            transition: all 0.3s;
        }

        a {
            display: inline-block;
            position: relative;
        }

        &:hover {
            .tangue {
                top: 7px;
                @include show;
                z-index: 1;
            }
        }
    }

    &__navbar {
        margin-left: 90px;

        &-li {
            margin-right: 30px;
            padding: 7px 5px;

            &:hover a {
                color: #FED217;
            }
        }

        &-a {
            font-size: 19px;
            color: #72675F;
            white-space: nowrap;
        }
    }


    // right
    &__right {
        width: 45%;

        .form__control {
            background: rgba(189, 178, 157, 0.33);
            border-radius: 11px;
            height: 39px;
            flex-grow: 1;
            padding-left: 25px;
            color: #fff;
            margin-right: 10px;
            font-size: 19px;

            &::placeholder {
                font-size: 19px;
                color: #fff;
            }
        }

        .search__img {
            cursor: pointer;
        }

        .login {
            display: flex;
            align-items: center;
            color: #333333;
            margin-left: 50px;
            cursor: pointer;

            img {
                height: 24px;
                margin-right: 12px;
            }
        }
    }
}