.news__slider {
    height: calc(100vh - 130px);
    width: 100%;
    overflow: hidden;

    .slider__item {
        position: relative;
        height: 100%;

        &-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
        }

        &-title {
            background: rgba(254, 210, 23, 0.74);
            color: #72675F;
            position: absolute;
            bottom: 120px;
            left: 200px;
            padding: 7px 15px;
            font-family: $arial-geo;
            border-radius: 12px;
            font-size: 21px;
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 40px;
        width: 110px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

    }

    .arrow-container {
        position: absolute;
        width: 200px;
        height: 100%;
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;

        &-left {
            left: 0px;

            // &::after {
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     background: red;
            //     z-index: 100;
            // }
        }

        &-right {
            right: 0px;
        }
    }


    .slider__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
        cursor: pointer;
    }
}