.news__slider {
    height: calc(100vh - 130px);
    width: 100%;
    overflow: hidden;

    .slider__item {
        position: relative;
        height: 100%;

        &-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
        }

        &-title {
            background: rgba(254, 210, 23, 0.43);
            position: absolute;
            bottom: 120px;
            left: 200px;
            padding: 7px 15px;
            font-family: $arial-geo;
            border-radius: 12px;
            font-size: 21px;
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 40px;
        width: 110px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

    }

    .slider__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
        cursor: pointer;
    }

    .left__arrow {
        left: 60px;
    }

    .right__arrow {
        right: 60px;
    }
}