@font-face {
    font-family: 'arial_geo';
    src: url('../../fonts/arlrdbd/arial_geo.eot');
    src: url('../../fonts/arlrdbd/arial_geo.eot') format('embedded-opentype'),
         url('../../fonts/arlrdbd/arial_geo.woff2') format('woff2'),
         url('../../fonts/arlrdbd/arial_geo.woff') format('woff'),
         url('../../fonts/arlrdbd/arial_geo.ttf') format('truetype'),
         url('../../fonts/arlrdbd/arial_geo.svg#arial_geo') format('svg');
}


@font-face {
    font-family: 'Myriad Pro';
    src: url('../../fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
    src: url('../../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2'),
        url('../../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
        url('../../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
        url('../../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

